<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>zorder</key>
		<integer>1</integer>
		<key>dir</key>
		<string>coolgirl/kick/1/</string>
		<key>prefixfilename</key>
		<string>kb3_0000</string>
		<key>startno</key>
		<integer>0</integer>
		<key>filenum</key>
		<integer>10</integer>
		<key>delay</key>
		<real>0.5</real>
		<key>power</key>
		<integer>20</integer>
		<key>powerhead</key>
		<integer>50</integer>
		<key>powerhand</key>
		<integer>10</integer>
		<key>powerfoot</key>
		<integer>10</integer>
		<key>hotframe</key>
		<integer>5</integer>
		<key>hotheight</key>
		<integer>91</integer>
		<key>hotdistance</key>
		<integer>0</integer>
		<key>fittype</key>
		<integer>1</integer>
		<key>kungfu</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>zorder</key>
		<integer>1</integer>
		<key>dir</key>
		<string>coolgirl/kick/2/</string>
		<key>prefixfilename</key>
		<string>kc_0000</string>
		<key>startno</key>
		<integer>0</integer>
		<key>filenum</key>
		<integer>10</integer>
		<key>delay</key>
		<real>0.5</real>
		<key>power</key>
		<integer>20</integer>
		<key>powerhead</key>
		<integer>15</integer>
		<key>powerhand</key>
		<integer>20</integer>
		<key>powerfoot</key>
		<integer>10</integer>
		<key>hotframe</key>
		<integer>5</integer>
		<key>hotheight</key>
		<integer>215</integer>
		<key>hotdistance</key>
		<integer>0</integer>
		<key>fittype</key>
		<integer>0</integer>
		<key>kungfu</key>
		<integer>2</integer>
	</dict>
</array>
</plist>