<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/proj.ios/Taekwon.xcodeproj</string>
</dict>
</plist>
