<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FoundWorkingCopyPaths</key>
	<array/>
	<key>LastWorkingCopyScanDate</key>
	<date>2013-07-26T10:22:05Z</date>
	<key>MissingFilePaths</key>
	<array>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/skill/foot/2/damage3_000006.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/skill/hand/1/damage1_000004.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/move/forward/move4_000001.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/general/low/damage2_000003.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/punch/1/p1_000004.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/skill/foot/2/damage3_000007.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/skill/hand/1/damage1_000005.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/ready/kick/kici_ready2_000005.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/ready/kick/kici_ready2_000001.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/ready/punch/punch_ready_000002.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/defence/defense_000002.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/skill/hand/1/damage1_000006.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/kick/2/kc2_000004.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/cocos2dx/platform/third_party/ios/libraries/libcurl.a</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/punch/3/p3_000003.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/kick/1/kb3_000007.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/punch/2/p2_000005.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/skill/hand/1/damage1_000007.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/kick/1/kb3_000001.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/coolgirl/kick</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/general/low/damage2_000004.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/punch/1/p1_000003.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/kick/2/kc2_000009.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/ready/punch/punch_ready_000003.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/coolgirl/defence</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/coolgirl/skill</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/ko/damage3_000006.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/general/high/damage1_000000.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/skill/foot/1/skill1_000011.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/skill/foot/1/skill1_000010.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/kick/2/kc2_000003.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/punch/3/p3_000002.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/kick/1/kb3_000006.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/punch/2/p2_000004.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/move/forward/move4_000006.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/skill/hand/1/skill2_000015.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/general/high/damage1_000001.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/skill/hand/1/skill2_000014.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/ready/kick/kici_ready2_000004.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/skill/hand/1/skill2_000013.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/skill/hand/1/skill2_000016.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/skill/hand/1/skill2_000012.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/coolgirl/change</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/skill/hand/1/skill2_000011.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/ready/kick/kici_ready2_000000.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/skill/hand/1/skill2_000010.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/move/forward/move4_000003.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/ko/damage3_000004.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/general/high/damage1_000002.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/kick/1/kb3_000000.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/skill/foot/1/damage2_000000.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/coolgirl/fit</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/move/forward/move4_000000.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/general/high/damage1_000003.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/punch/1/p1_000002.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/general/low/damage2_000005.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/skill/foot/1/damage2_000001.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/kick/2/kc2_000008.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/ko/damage3_000002.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/general/high/damage1_000004.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/ready/punch/punch_ready_000004.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/skill/foot/1/damage2_000002.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/general/high/damage1_000005.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/kick/2/kc2_000002.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/punch/3/p3_000001.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/skill/foot/1/damage2_000003.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/kick/1/kb3_000005.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/punch/2/p2_000003.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/defence/defense_000001.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/ko/damage3_000000.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/general/high/damage1_000006.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/general/low/damage2_000000.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/skill/foot/1/damage2_000004.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/general/high/damage1_000007.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/skill/foot/1/damage2_000005.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/ready/kick/kici_ready2_000007.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/coolgirl/ready</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/punch/1/p1_000001.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/general/low/damage2_000006.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/ready/kick/kici_ready2_000003.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/skill/foot/1/skill1_000009.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/skill/foot/1/skill1_000008.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/skill/foot/1/skill1_000007.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/coolgirl/punch</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/skill/foot/1/skill1_000006.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/kick/2/kc2_000007.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/skill/foot/1/skill1_000005.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/skill/foot/1/damage2_000006.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/skill/foot/1/skill1_000004.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/skill/foot/1/skill1_000003.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/skill/foot/1/skill1_000002.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/ready/punch/punch_ready_000005.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/skill/foot/1/skill1_000001.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/skill/foot/1/skill1_000000.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/skill/foot/1/damage2_000007.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/skill/hand/1/skill2_000009.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/skill/hand/1/skill2_000008.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/kick/2/kc2_000001.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/skill/hand/1/skill2_000007.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/punch/3/p3_000000.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/skill/hand/1/skill2_000006.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/move/forward/move4_000005.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/kick/1/kb3_000004.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/skill/hand/1/skill2_000005.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/skill/hand/1/skill2_000004.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/punch/2/p2_000002.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/skill/hand/1/skill2_000003.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/skill/hand/1/skill2_000002.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/skill/hand/1/skill2_000001.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/skill/hand/1/skill2_000000.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/general/low/damage2_000001.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/move/forward/move4_000002.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/coolgirl/antiattack</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/ready/punch/punch_ready_000000.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/ko/damage3_000007.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/punch/1/p1_000000.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/general/low/damage2_000007.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/change/punch_change_000006.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/change/punch_change_000005.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/kick/2/kc2_000006.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/punch/3/p3_000005.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/skill/foot/2/damage3_000000.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/change/punch_change_000003.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/change/punch_change_000004.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/change/punch_change_000002.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/kick/1/kb3_000009.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/change/punch_change_000001.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/change/punch_change_000000.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/coolgirl/move</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/ko/damage3_000005.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/skill/foot/2/damage3_000001.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/ready/kick/kici_ready2_000006.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/kick/2/kc2_000000.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/ready/kick/kici_ready2_000002.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/kick/1/kb3_000003.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/punch/2/p2_000001.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/move/backward/move2_000007.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/move/backward/move2_000006.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/move/backward/move2_000005.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/skill/foot/2/damage3_000002.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/move/backward/move2_000004.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/move/backward/move2_000003.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/general/low/damage2_000002.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/move/backward/move2_000002.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/skill/hand/1/damage1_000000.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/move/backward/move2_000001.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/punch/1/p1_000005.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/defence/defense_000000.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/move/backward/move2_000000.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/ko/damage3_000003.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/skill/foot/2/damage3_000003.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/ready/punch/punch_ready_000001.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/skill/hand/1/damage1_000001.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/skill/foot/2/damage3_000004.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/kick/2/kc2_000005.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/punch/3/p3_000004.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/skill/hand/1/damage1_000002.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/kick/1/kb3_000008.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/ko/damage3_000001.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/move/forward/move4_000007.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/skill/foot/2/damage3_000005.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/fit/skill/hand/1/damage1_000003.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/move/forward/move4_000004.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/kick/1/kb3_000002.png</string>
		<string>/Users/fire/development/cocos2dx/cocos2d-x-2.1.4/projects/Taekwon/Resources/musician/punch/2/p2_000000.png</string>
	</array>
	<key>Version</key>
	<integer>4</integer>
</dict>
</plist>
